
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;


button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 173px;
    height: 44px;
    border-radius: 9999px;
    background-color: color('primary');
    color: color('blue-950');    
    padding: 0.75rem 2rem;
    @include font-base(700, 1rem, center);
}