
// ==================================
// Color Tokes - from the style guide
// ==================================

// Brand

$green: #54E6AF;

// Blue

$blue-950: #121725;
$blue-900: #2C344B;
$blue-600: #5A668A;
$blue-300: #C2CBE5;

// White

$white: #ffffff;

// Red

$red: #FB3E3E;